{% extends 'base.html' %}
{% block title %}Explor{% endblock %}
{% block style %}
 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Custom Styles -->
    <style>
        .post-card {
            background-color: #fff;
            border-radius: 0.75rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
            overflow: hidden; /* Ensure photos stay within the post field */
        }

        .post-card-content {
            padding: 1.5rem;
            position: relative; /* Position for photo slide buttons */
        }

        .post-title {
            font-size: 1.5rem;
            font-weight: 600;
            color: #333;
        }

        .post-content {
            margin-top: 1rem;
            color: #666;
        }

        .swiper-container {
            width: 100%;
            height: 300px;
            margin-top: 1rem;
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .post-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #e2e8f0;
            padding: 1rem 1.5rem;
        }

        .post-actions button {
            color: #4a5568;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        .post-actions button:hover {
            color: #1a202c;
        }

        /* Indent replies */
        .reply {
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mx-auto py-8">
        <div class="max-w-md mx-auto">
            <form id="search-form"  class="mt-6 flex">
                <input type="text" id="search-input" class="w-full border rounded-md p-2 focus:outline-none focus:border-indigo-500" placeholder="Search...">
                <button type="submit" class="ml-2 bg-indigo-500 text-white p-2 rounded-md hover:bg-indigo-600">Search</button>
            </form>
            <div id="search-results" class="mt-6">
                <h2 class="text-xl font-semibold">Search Results</h2>
                <!-- Display search results here -->
            </div>
        </div>
    </div>
{% for post in posts %}
<div class="container mx-auto py-8">
    <div class="max-w-lg mx-auto">
        <div class="post-card">
            <div class="post-card-content">
                <h2 class="post-title">{{ post.user.name }}</h2>
                <div id="follow-buttons" data-profile-id="{{ post.user.id }}">
                        {% if user_follows_profile %}
                            <button id="unfollow-btn">Unfollow</button>
                        {% else %}
                            <button id="follow-btn">Follow</button>
                        {% endif %}
                 </div>
                <p class="post-content">{{ post.content }}</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for image in post.images.all %}
                        <div class="swiper-slide">
                            <img src="{{ image.image.url }}" alt={{ image.id }}>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="post-actions">
                <div>
                    <button class="like-btn mr-4" data-post-id="{{ post.id }}">
                        Like:{{ post.likes.count }}
                    </button>
                    <button class="dislike-btn mr-4" data-post-id="{{ post.id }}">
                        Dislike:{{ post.dislikes.count }}
                    </button>
                    <button class="comment-btn" data-post-id="{{ post.id }}">
                        Comment:{{ post.comments.count }}
                    </button>
                </div>
                <span class="text-gray-500 text-xs">{{ post.created_at }}</span>
            </div>
            <div class="comment-section hidden" data-post-id="{{ post.id }}">
                {% if post.comments.exists %}
                    {% for comment in post.comments.all %}
                        {% if not comment.parent_comment %}
                            <div>
                                {% if comment.user %}
                                 <p class="text-gray-800 mb-2">
                                    <a href="{% url 'user_profile' comment.user.id %}" class="text-blue-500 hover:underline">{{ comment.user.name }}:</a>
                                    <span class="text-gray-700">{{ comment.content }}</span>
                                </p>
                                {% else %}
                                <p>Anonymous User: {{ comment.content }}</p>
                                {% endif %}
                                {% if comment.user == request.user %}
                                <form action="{% url 'delete_comment' comment.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="referring_page" value="explore">
                                    <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded">
                                        Delete Comment
                                    </button>
                                </form>
                                {% endif %}
                                <button class="reply-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-comment-id="{{ comment.id }}">Reply</button>
                                <div class="reply-form hidden" data-comment-id="{{ comment.id }}">
                                    <form action="{% url 'add_reply' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="referring_page" value="explore">
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        <textarea name="reply" rows="3" cols="30" placeholder="Add a reply"></textarea>
                                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            Reply
                                        </button>

                                    </form>
                                </div>
                               <div class="replies">
                                    {% for reply in post.comments.all %}
                                        {% if reply.parent_comment == comment %}
                                            <div class="reply">
                                                {% if reply.user %}
                                                    <p><a href="{% url 'user_profile' reply.user.id %}">{{ reply.user.name }}</a>: {{ reply.content }}</p>
                                                {% else %}
                                                    <p>Anonymous User: {{ reply.content }}</p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="no-comments">
                        <p>No comments yet. Be the first to comment!</p>
                    </div>
                {% endif %}
                <form action="{% url 'add_comment' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="referring_page" value="explore">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <textarea name="comment" rows="3" cols="30" placeholder="Add a comment"></textarea>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add comment</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endfor %}


    <!-- Include Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Initialize Swiper -->
    <script type="text/javascript">

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });


       $(document).ready(function () {
        $('.like-btn').click(function () {
            var postId = $(this).data('post-id');
            $.ajax({
                url: '{% url 'like_post' %}',
                type: 'POST',
                data: {
                    'post_id': postId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Include CSRF token
                },
                success: function (data) {
                    $('.like-btn[data-post-id="' + postId + '"]').text('Like:' + data.likes_count);
                }
            });
        });

        $('.dislike-btn').click(function () {
            var postId = $(this).data('post-id');
            $.ajax({
                url: '{% url 'dislike_post' %}',
                type: 'POST',
                data: {
                    'post_id': postId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Include CSRF token
                },
                success: function (data) {
                    $('.dislike-btn[data-post-id="' + postId + '"]').text('Dislike:' + data.dislikes_count);
                }
            });
        });
    });



   document.addEventListener('DOMContentLoaded', function () {
        const commentButtons = document.querySelectorAll('.comment-btn');
        const replyButtons = document.querySelectorAll('.reply-btn');

        commentButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const postId = button.getAttribute('data-post-id');
                const commentSection = document.querySelector(`.comment-section[data-post-id="${postId}"]`);
                commentSection.classList.toggle('hidden');
            });
        });

        replyButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                const commentId = button.getAttribute('data-comment-id');
                const replyForm = document.querySelector(`.reply-form[data-comment-id="${commentId}"]`);
                replyForm.classList.toggle('hidden');
            });
        });
    });

    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent default form submission
        const searchQuery = document.getElementById('search-input').value;
        // Send AJAX request to Django view
        fetch(`/search/?query=${searchQuery}`)
            .then(response => response.json())
            .then(data => {
                // Handle search results
                displaySearchResults(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    function displaySearchResults(data) {
    const searchResultsContainer = document.getElementById('search-results');
    searchResultsContainer.innerHTML = ''; // Clear previous search results
    if (data.length === 0) {
        // If no users found, display a message
        searchResultsContainer.textContent = 'No users found.';
    } else {
        // Loop through search results and display them
        data.forEach(result => {
            const resultItem = document.createElement('div');
            const usernameLink = document.createElement('a');
            usernameLink.textContent = result.name;
            usernameLink.href = `/user_profile/${result.id}/`; // Replace '/profile/' with your profile URL path
            usernameLink.classList.add('search-result-link');
            resultItem.appendChild(usernameLink);
            searchResultsContainer.appendChild(resultItem);
        });
    }
}

// Add event listener for dynamically added username links
document.addEventListener('click', function(event) {
    if (event.target.classList.contains('search-result-link')) {
        // Prevent default navigation behavior
        event.preventDefault();
        // Redirect to the user profile page
        window.location.href = event.target.href;
    }
});
     document.addEventListener('DOMContentLoaded', function() {
        const csrfToken = "{{ csrf_token }}";

        // Function to handle sending follow requests
        function sendFollowRequest(profileId, action) {
            console.log('Sending follow request...');
            const url = `/follow/${profileId}/${action}/`;
            console.log('Request URL:', url);

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                },
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                // Handle success response (update UI)
                console.log('Follow request successful.');
                updateFollowButton(action);
                if (action === 'follow') {
                    updateFollowingCount(1); // Increase count by 1 for follow
                } else if (action === 'unfollow') {
                    updateFollowingCount(-1); // Decrease count by 1 for unfollow
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        // Function to update the follow button UI
        function updateFollowButton(action) {
            const followButtons = document.getElementById('follow-buttons');
            if (followButtons) {
                if (action === 'follow') {
                    followButtons.innerHTML = '<button id="unfollow-btn">Unfollow</button>';
                } else if (action === 'unfollow') {
                    followButtons.innerHTML = '<button id="follow-btn">Follow</button>';
                }
            }
        }

        // Function to update the following count UI
        function updateFollowingCount(change) {
            const followingCountElement = document.getElementById('following-count');
            if (followingCountElement) {
                followingCountElement.textContent = parseInt(followingCountElement.textContent) + change;
            }
        }

        // Event listener for the follow button
        const followBtn = document.getElementById('follow-btn');
        if (followBtn) {
            followBtn.addEventListener('click', function() {
                const profileId = document.getElementById('follow-buttons').dataset.profileId;
                console.log('Follow button clicked for profile ID:', profileId);
                sendFollowRequest(profileId, 'follow');
            });
        }

        // Event listener for the unfollow button
        document.addEventListener('click', function(event) {
            if (event.target.id === 'unfollow-btn') {
                const profileId = document.getElementById('follow-buttons').dataset.profileId;
                console.log('Unfollow button clicked for profile ID:', profileId);
                sendFollowRequest(profileId, 'unfollow');
            }
        });
    });
    </script>
{% endblock %}
